.contacts{

    width: 30%;
    background-color: #4D4D4D93;
  border-radius: 10px;
  margin: 10px;

  h2{

    color:silver;
    text-align: center;
    margin-top: 5px;
  }
  .contacts_item {


    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    div{
      min-width: 150px;
      height: 50px;
      margin: 8px;

      background-color: #464b4d;
      border-radius: 5px;
      padding: 5px;


      a{
        display: flex;
        justify-content: center;

      }
    }
    h3 {
      text-align: center;
      color: silver;
    }



    a {
      text-decoration: none;
      color: #fff;
      transition: 0.3s;


      &:hover {
        color: #88cba7;
      }
    }

  }
}

