.status_item{
  background-color: azure;
  margin: 10px;
  height: 70px;
  border-radius: 5px;
  background-color: #4D4D4D93;




  h1{
    margin-left: 20px;
    padding-top: 15px;
    color: silver;

  }
}