.user {
  background-color: #3f3c3a;
  width: 220px;
  height: 340px;
  margin: 20px 20px 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

  .user_button {
    margin: 10px;
    display: flex;
    justify-content: center;


    button{
      border-radius: 60%;
      padding: 3px;
      border: none;
      cursor: pointer;
    }

    img{
      width: 40px;

    }
  }

  a{
    text-decoration: none;
  }

  .user_photo {

    img {
      width: 150px;
      margin-left: 35px;
      margin-top: 20px;
      border-radius: 50%;

    }
  }

  .user_name {

    margin-bottom: 10px;

    h2 {
      text-align: center;
      margin-top: 5px;
      color: silver;
    }
  }

  .user_status {
    width: 90%;
    height: 50px;
    margin: 0  auto ;
    background-color: #464b4d;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    h4{
      color: #ffffff;
    }
  }

}

