.header {
  background-color: #3c3f41;
  height: 60px;
  display: flex;
  border-bottom: #969696 solid 2px;

  .header_logo {
    a {
      outline: none;
      border: none;
    }
  }

  .header_logo {
    img {
      width: 50px;
      border-radius: 5px;
      margin-left: 10px;
      margin-top: 5px;
    }
  }

  .header_links {
    display: flex;
    margin: 10px;

    animation: ani 1s forwards;

    @keyframes ani {
      0% {
        transform: translateX(-150%);
        opacity: 0;


      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .header_links_link {
      border-radius: 5px;
      transition: 200ms;
      margin-left: 30px;

      &:hover {
        background-color: #696461;
      }

      a {

        border-radius: 5px;
        transition: 200ms;

        &:hover {
          background-color: #696461;
        }

        img {
          width: 40px;
          padding: 5px;


        }

      }


    }

  }

  .header_title {
    h2 {
      color: azure;
      margin: 15px;
    }
  }

  .header_logout {
    margin-left: 63%;
    animation: ani 1s forwards;

    h4 {


      color: silver;

    }

    button {
      margin: 5px;
      width: 100px;
      height: 30px;
      border-radius: 5px;
      border: none;
      background-color: #1c282c;
      color: silver;
      cursor: pointer;
      transition: 0.3s;
      padding: 5px;

      &:hover {
        background-color: #475c6b;
      }
    }

  }
}