.about{
  width: 30%;
  background-color: #4D4D4D93;
  margin:10px;
  border-radius: 10px;

  h2{

    color:silver;
    text-align: center;
    margin-top: 5px;
  }


}

.about_info {

  margin: 0 auto;
  width: 80%;



  .about_inputs{
    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: 0;
    margin-bottom: 10px;



  }

  div {
    background-color: #464b4d;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    height: 75px;
  }

  h3 {
    text-align: center;
    color: silver;
  }

  p {
    color: #fff;
    margin: 5px;
    text-align: center;

  }
}